[Unit]
 Description=ROIcoin daemon service
 After=network.target

 [Service]
 User=root
 Type=forking
 WorkingDirectory=/root/.ROIcoin
 ExecStart=/usr/local/bin/ROIcoind
 ExecStop=/usr/local/bin/ROIcoin-cli stop
 Restart=on-failure
 RestartSec=15
 TimeoutStopSec=60
 TimeoutStartSec=15
 StartLimitInterval=60
 StartLimitBurst=10

 [Install]
 WantedBy=multi-user.target
